<aside class="main-sidebar">
  <section class="sidebar">
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text">
        <span class="input-group-btn">
          <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a>
          <i class="fa fa-dashboard"></i> <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="alunos"><i class="fa fa-circle-o"></i> Alunos</a></li>
        </ul>
      </li>
      <li><a ><i class="fa fa-book"></i> <span>Exemplo</span></a></li>
    </ul>
  </section>
</aside>
