<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Apex</b>Escola</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Entrar</p>

      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Email" type="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Senha" type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Salvar minhas credênciais
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button [routerLink]="'/members'" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
      </div>
      <br>
    <a href="#">Esqueceu a senha?</a><br>
    <a [routerLink]="'/login/register'" class="text-center">Cadastre-se</a>

  </div>
</div>
